<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EXA_PRACT2_CUPCAKE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D9C5652F1E953F4D0069449E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9C565431E953F4D0069449E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9C5654E1E953F4D0069449E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
